/reports/prakticheskaya_2/.vagrant/ 
/reports/prakticheskaya_2/*.log 
/reports/prakticheskaya_2/jenkins_cli.*

/reports/prakticheskaya_3/.vagrant/ 
/reports/prakticheskaya_3/*.log 

/reports/prakticheskaya_5/.vagrant/ 
/reports/prakticheskaya_5/*.log 
/reports/prakticheskaya_5/jenkins_cli.*

/reports/prakticheskaya_7/docker_volumes/ 
/reports/prakticheskaya_7/host_metrics_app/*.log

/lectures
.venv