* @saboleznov
/.gitignore @saboleznov
/README.md @saboleznov
/reports/report_template.docx @saboleznov
/reports/prakticheskaya_2/createAdminUser.groovy @saboleznov
/reports/prakticheskaya_2/disable-plugin-install-wizard.groovy @saboleznov
/reports/prakticheskaya_2/jenkins-plugins.txt @saboleznov
/reports/prakticheskaya_2/provision.sh @saboleznov
/reports/prakticheskaya_2/report_pr2.docx @saboleznov
/reports/prakticheskaya_2/Vagrantfile @saboleznov
/reports/prakticheskaya_3/inventory.ini @saboleznov
/reports/prakticheskaya_3/playbook.yml @saboleznov
/reports/prakticheskaya_3/VagrantFile @saboleznov
/reports/prakticheskaya_4/app.py @saboleznov
/reports/prakticheskaya_4/docker-compose.yml @saboleznov
/reports/prakticheskaya_4/Dockerfile @saboleznov
/reports/prakticheskaya_4/init_db.sql @saboleznov
/reports/prakticheskaya_4/report_pr4.docx @saboleznov
/reports/prakticheskaya_4/templates/index.html @saboleznov
/reports/prakticheskaya_5/createAdminUser.groovy @saboleznov
/reports/prakticheskaya_5/disable-plugin-install-wizard.groovy @saboleznov
/reports/prakticheskaya_5/jenkins-plugins.txt @saboleznov
/reports/prakticheskaya_5/Jenkinsfile @saboleznov
/reports/prakticheskaya_5/provision.sh @saboleznov
/reports/prakticheskaya_5/report_pr5.docx @saboleznov
/reports/prakticheskaya_5/Vagrantfile @saboleznov
/reports/prakticheskaya_6/deployment.yaml @saboleznov
/reports/prakticheskaya_6/Dockerfile @saboleznov
/reports/prakticheskaya_6/index.js @saboleznov
/reports/prakticheskaya_6/ingress.yaml @saboleznov
/reports/prakticheskaya_6/report_pr6.docx @saboleznov
/reports/prakticheskaya_6/service.yaml @saboleznov
/reports/prakticheskaya_7/docker-compose.yml @saboleznov
/reports/prakticheskaya_7/report_pr7.docx @saboleznov
/reports/prakticheskaya_7/configs/elasticsearch/config.yml @saboleznov
/reports/prakticheskaya_7/configs/filebeat/config.yml @saboleznov
/reports/prakticheskaya_7/configs/kibana/config.yml @saboleznov
/reports/prakticheskaya_7/configs/logstash/config.yml @saboleznov
/reports/prakticheskaya_7/configs/logstash/pipelines.yml @saboleznov
/reports/prakticheskaya_7/configs/logstash/pipelines/service_stamped_json_logs.conf @saboleznov
/reports/prakticheskaya_7/host_metrics_app/host_metrics_app.log @saboleznov
/reports/prakticheskaya_7/host_metrics_app/main.py @saboleznov
/scripts/make_codeowners.py @saboleznov
/tasks/Практическая работа_1.pdf @saboleznov
/tasks/Практическая работа_2.pdf @saboleznov
/tasks/Практическая работа_3.pdf @saboleznov
/tasks/Практическая работа_4.pdf @saboleznov
/tasks/Практическая работа_5.pdf @saboleznov
/tasks/Практическая работа_6.pdf @saboleznov
/tasks/Практическая работа_7.pdf @saboleznov
