* @saboleznov
/.gitignore @saboleznov
/README.md @saboleznov
/lectures/DevOps_1.pdf @saboleznov
/lectures/DevOps_2.pdf @saboleznov
/lectures/DevOps_3.pdf @saboleznov
/lectures/DevOps_4.pdf @saboleznov
/lectures/DevOps_5.pdf @saboleznov
/lectures/DevOps_6.pdf @saboleznov
/lectures/DevOps_7.pdf @saboleznov
/lectures/DevOps_8.pdf @saboleznov
/lectures/Итог1-8.pdf @saboleznov
/reports/report_template.docx @saboleznov
/reports/prakticheskaya_2/createAdminUser.groovy @saboleznov
/reports/prakticheskaya_2/disable-plugin-install-wizard.groovy @saboleznov
/reports/prakticheskaya_2/jenkins-plugins.txt @saboleznov
/reports/prakticheskaya_2/provision.sh @saboleznov
/reports/prakticheskaya_2/report_pr2.docx @saboleznov
/reports/prakticheskaya_2/Vagrantfile @saboleznov
/reports/prakticheskaya_2/.vagrant/machines/jenkins/virtualbox/action_provision @saboleznov
/reports/prakticheskaya_2/.vagrant/machines/jenkins/virtualbox/action_set_name @saboleznov
/reports/prakticheskaya_2/.vagrant/machines/jenkins/virtualbox/box_meta @saboleznov
/reports/prakticheskaya_2/.vagrant/machines/jenkins/virtualbox/creator_uid @saboleznov
/reports/prakticheskaya_2/.vagrant/machines/jenkins/virtualbox/id @saboleznov
/reports/prakticheskaya_2/.vagrant/machines/jenkins/virtualbox/index_uuid @saboleznov
/reports/prakticheskaya_2/.vagrant/machines/jenkins/virtualbox/private_key @saboleznov
/reports/prakticheskaya_2/.vagrant/machines/jenkins/virtualbox/synced_folders @saboleznov
/reports/prakticheskaya_2/.vagrant/machines/jenkins/virtualbox/vagrant_cwd @saboleznov
/reports/prakticheskaya_2/.vagrant/rgloader/loader.rb @saboleznov
/reports/prakticheskaya_3/inventory.ini @saboleznov
/reports/prakticheskaya_3/playbook.yml @saboleznov
/reports/prakticheskaya_3/VagrantFile @saboleznov
/reports/prakticheskaya_3/.vagrant/rgloader/loader.rb @saboleznov
/reports/prakticheskaya_4/app.py @saboleznov
/reports/prakticheskaya_4/docker-compose.yml @saboleznov
/reports/prakticheskaya_4/Dockerfile @saboleznov
/reports/prakticheskaya_4/init_db.sql @saboleznov
/reports/prakticheskaya_4/report_pr4.docx @saboleznov
/reports/prakticheskaya_4/templates/index.html @saboleznov
/scripts/make_codeowners.py @saboleznov
/tasks/Практическая работа_1.pdf @saboleznov
/tasks/Практическая работа_2.pdf @saboleznov
/tasks/Практическая работа_3.pdf @saboleznov
/tasks/Практическая работа_4.pdf @saboleznov
